<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Asakusa Framework DMDL エディター"
            extensions="dmdl"
            icon="icons/hishidama16.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.editors.DMDLEditor"
            id="dmdl_editor.editors.DMDLEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="jp.hishidama.eclipse_plugin.dmdl_editor.editors.preference.DMDLEditorPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jp.hishidama.eclipse_plugin.dmdl_editor.editors.preference.DMDLEditorPreferencePage"
            id="dmdl-editor-plugin.preference-page"
            name="dmdl-editor preference-page">
      </page>
   </extension>

</plugin>
