<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Asakusa Framework DMDL エディター"
            extensions="dmdl"
            icon="icons/hishidama16.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.DMDLMultiPageEditor"
            id="dmdl_editor.editors.DMDLEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.preference.DMDLEditorPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.preference.DMDLEditorPreferencePage"
            id="dmdl-editor.preference-page"
            name="DMDL Editor">
      </page>
      <page
            category="dmdl-editor.preference-page"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.preference.DMDLEditorColorPreferencePage"
            id="dmdl-editor.color-preference-page"
            name="color">
      </page>
      <page
            category="dmdl-editor.preference-page"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.preference.DMDLEditorFormatterPreferencePage"
            id="dmdl-editor.formatter-preference-page"
            name="formatter">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.property.DMDLPropertyPage"
            id="dmdl-editor-plugin.page"
            name="DMDL Editor">
      </page>
      <page
            category="dmdl-editor-plugin.page"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.property.DMDLErrorCheckPropertyPage"
            id="dmdl-editor-plugin.errorcheck.page"
            name="parser">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.IJavaElement">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="dmdl-editor-plugin.context"
            name="DMDL Editor context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="dmdl-editor-plugin.category"
            name="DMDL Editor">
      </category>
      <command
            categoryId="dmdl-editor-plugin.category"
            id="dmdl-editor-plugin.formatting-command"
            name="DMDL source formatting">
      </command>
      <command
            categoryId="dmdl-editor-plugin.category"
            id="dmdl-editor-plugin.errorcheck-command"
            name="DMDL create index / error check">
      </command>
      <command
            categoryId="dmdl-editor-plugin.category"
            id="dmdl-editor-plugin.jumplink-command"
            name="DMDL open declaration">
      </command>
      <command
            categoryId="dmdl-editor-plugin.category"
            id="dmdl-editor-plugin.compile-command"
            name="DMDL compile">
      </command>
      <command
            categoryId="dmdl-editor-plugin.category"
            id="dmdl-editor-plugin.attributeWizard-command"
            name="Modify attribute">
      </command>

      <category
            id="dmdl-editor-plugin.jdt.category"
            name="DMDL Editor">
      </category>
      <command
            categoryId="dmdl-editor-plugin.jdt.category"
            id="dmdl-editor-plugin.jdt.jumplink-command"
            name="DMDL compile">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.format.FormattingHandler"
            commandId="dmdl-editor-plugin.formatting-command">
      </handler>
      <handler
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.marker.DMDLErrorCheckHandler"
            commandId="dmdl-editor-plugin.errorcheck-command">
      </handler>
      <handler
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.hyperlink.DMDLHyperlinkHandler"
            commandId="dmdl-editor-plugin.jumplink-command">
      </handler>
      <handler
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.compile.DMDLCompileHandler"
            commandId="dmdl-editor-plugin.compile-command">
      </handler>
      <handler
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.wizard.AttributeWizardHandler"
            commandId="dmdl-editor-plugin.attributeWizard-command">
      </handler>

      <handler
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.jdt.hyperlink.OpenDeclaredDmdlHyperlinkHandler"
            commandId="dmdl-editor-plugin.jdt.jumplink-command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="dmdl-editor-plugin.formatting-command"
            contextId="dmdl-editor-plugin.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F">
      </key>
      <key
            commandId="dmdl-editor-plugin.jumplink-command"
            contextId="dmdl-editor-plugin.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
      <key
            commandId="dmdl-editor-plugin.jdt.jumplink-command"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+F3">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="DMDL Editor">
            <command
                  commandId="dmdl-editor-plugin.errorcheck-command"
                  label="Create index / error check">
            </command>
            <command
                  commandId="dmdl-editor-plugin.compile-command"
                  label="Compile"
                  style="push">
            </command>
            <command
                  commandId="dmdl-editor-plugin.attributeWizard-command"
                  label="Add/Remove attribute"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="dmdl-editor-plugin.toolbar">
            <command
                  commandId="dmdl-editor-plugin.errorcheck-command"
                  icon="icons/hishidama16.gif"
                  style="push"
                  tooltip="DMDL create index / error check">
            </command>
            <command
                  commandId="dmdl-editor-plugin.compile-command"
                  icon="icons/hishidama16.gif"
                  style="push"
                  tooltip="DMDL compile">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            id="jp.hishidama.eclipse_plugin.dmdl_editor.dmdlClasspathProvider"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.compile.DmdlClasspathProvider">
      </classpathProvider>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="dmdl-editor-plugin.hyperlink.target"
            name="DMDL Editor hyperlink target">
         <context type="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.DMDLTextEditor"/>
      </target>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.hyperlink.DMDLHyperlinkDetector"
            id="dmdl-editor-plugin.hyperlinkDetector.open-declaration"
            name="Open Declaration"
            targetId="dmdl-editor-plugin.hyperlink.target">
      </hyperlinkDetector>
      <hyperlinkDetector
            activate="true"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.jdt.hyperlink.OpenDeclaredDmdlHyperlinkDetector"
            description="Open DMDL"
            id="dmdl-editor-plugin.hyperlinkDetector.jdt.open-declaration"
            modifierKeys="M2+F3"
            name="Open DMDL"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>

</plugin>
