<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Asakusa Framework DMDL エディター"
            extensions="dmdl"
            icon="icons/hishidama16.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.editors.DMDLEditor"
            id="dmdl_editor.editors.DMDLEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="jp.hishidama.eclipse_plugin.dmdl_editor.editors.preference.DMDLEditorPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jp.hishidama.eclipse_plugin.dmdl_editor.editors.preference.DMDLEditorPreferencePage"
            id="dmdl-editor.preference-page"
            name="dmdl-editor">
      </page>
      <page
            category="dmdl-editor.preference-page"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.editors.preference.DMDLEditorColorPreferencePage"
            id="dmdl-editor.color-preference-page"
            name="color">
      </page>
      <page
            category="dmdl-editor.preference-page"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.editors.preference.DMDLEditorFormatterPreferencePage"
            id="dmdl-editor.formatter-preference-page"
            name="formatter">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="dmdl-editor-plugin.category"
            name="category-name">
      </category>
      <command
            categoryId="dmdl-editor-plugin.category"
            id="dmdl-editor-plugin.formatting-command"
            name="formatting-command">
      </command>
      <command
            categoryId="dmdl-editor-plugin.category"
            id="dmdl-editor-plugin.marker-command"
            name="marker-command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.hishidama.eclipse_plugin.dmdl_editor.editors.format.FormattingHandler"
            commandId="dmdl-editor-plugin.formatting-command">
      </handler>
      <handler
            class="jp.hishidama.eclipse_plugin.dmdl_editor.editors.marker.DMDLMarkHandler"
            commandId="dmdl-editor-plugin.marker-command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="dmdl-editor-plugin.formatting-command"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="DMDL editor">
            <command
                  commandId="dmdl-editor-plugin.marker-command"
                  label="error check">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="dmdl-editor-plugin.toolbar">
            <command
                  commandId="dmdl-editor-plugin.marker-command"
                  icon="icons/hishidama16.gif"
                  style="push"
                  tooltip="error check">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
