<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Asakusa Framework DMDL エディター"
            extensions="dmdl"
            icon="icons/hishidama16.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.DMDLMultiPageEditor"
            id="dmdl_editor.editors.DMDLEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.preference.DMDLEditorPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.preference.DMDLEditorPreferencePage"
            id="dmdl-editor.preference-page"
            name="DMDL Editor">
      </page>
      <page
            category="dmdl-editor.preference-page"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.preference.DMDLEditorColorPreferencePage"
            id="dmdl-editor.color-preference-page"
            name="Color">
      </page>
      <page
            category="dmdl-editor.preference-page"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.preference.DMDLEditorFormatterPreferencePage"
            id="dmdl-editor.formatter-preference-page"
            name="Formatter">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.property.DMDLPropertyPage"
            id="dmdl-editor-plugin.page"
            name="DMDL Editor">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
      </page>
      <page
            category="dmdl-editor-plugin.page"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.property.DMDLErrorCheckPropertyPage"
            id="dmdl-editor-plugin.errorcheck.page"
            name="Parser">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.jdt.core.IJavaElement">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="dmdl-editor-plugin.context"
            name="DMDL Editor context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="dmdl-editor-plugin.category"
            name="DMDL Editor">
      </category>
      <command
            categoryId="dmdl-editor-plugin.category"
            id="dmdl-editor-plugin.formatting-command"
            name="DMDL source formatting">
      </command>
      <command
            categoryId="dmdl-editor-plugin.category"
            id="dmdl-editor-plugin.errorcheck-command"
            name="DMDL create index / error check">
      </command>
      <command
            categoryId="dmdl-editor-plugin.category"
            id="dmdl-editor-plugin.jumplink-command"
            name="DMDL open declaration">
      </command>
      <command
            categoryId="dmdl-editor-plugin.category"
            id="dmdl-editor-plugin.compile-command"
            name="DMDL compile">
      </command>
      <command
            categoryId="dmdl-editor-plugin.category"
            id="dmdl-editor-plugin.jump-datamodel-command"
            name="jump DataModel">
      </command>

      <category
            id="dmdl-editor-plugin.jdt.category"
            name="DMDL Editor">
      </category>
      <command
            categoryId="dmdl-editor-plugin.jdt.category"
            id="dmdl-editor-plugin.jdt.jumplink-command"
            name="DMDL compile">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.format.FormattingHandler"
            commandId="dmdl-editor-plugin.formatting-command">
      </handler>
      <handler
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.marker.DMDLErrorCheckHandler"
            commandId="dmdl-editor-plugin.errorcheck-command">
      </handler>
      <handler
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.hyperlink.DMDLHyperlinkHandler"
            commandId="dmdl-editor-plugin.jumplink-command">
      </handler>
      <handler
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.compile.DMDLCompileHandler"
            commandId="dmdl-editor-plugin.compile-command">
      </handler>
      <handler
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.handler.JumpDataModelHandler"
            commandId="dmdl-editor-plugin.jump-datamodel-command">
      </handler>

      <handler
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.jdt.hyperlink.OpenDeclaredDmdlHyperlinkHandler"
            commandId="dmdl-editor-plugin.jdt.jumplink-command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="dmdl-editor-plugin.formatting-command"
            contextId="dmdl-editor-plugin.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F">
      </key>
      <key
            commandId="dmdl-editor-plugin.jumplink-command"
            contextId="dmdl-editor-plugin.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
      <key
            commandId="dmdl-editor-plugin.jdt.jumplink-command"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+F3">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="DMDL Editor">
            <visibleWhen>
               <reference definitionId="dmdl-editor-plugin.command.visibleWhen" />
            </visibleWhen>
            <command
                  commandId="dmdl-editor-plugin.errorcheck-command"
                  label="Create index / error check">
            </command>
            <command
                  commandId="dmdl-editor-plugin.compile-command"
                  label="Compile"
                  style="push">
            </command>
            <separator
                  name="beginNewWizard"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="dmdl-editor-plugin.wizard.new-datamodel">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="dmdl-editor-plugin.wizard.attribute">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="dmdl-editor-plugin.wizard.new-importer-exporter">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="dmdl-editor-plugin.toolbar">
            <command
                  commandId="dmdl-editor-plugin.errorcheck-command"
                  icon="icons/hishidama16.gif"
                  style="push"
                  tooltip="DMDLEditorプラグイン内で使用するインデックスの作成およびDMDLのエラーチェックを行います。">
            </command>
            <command
                  commandId="dmdl-editor-plugin.compile-command"
                  icon="icons/hishidama16.gif"
                  style="push"
                  tooltip="Asakusa FrameworkのDMDLコンパイラーを起動してJavaクラスを生成します。">
            </command>
            <command
                  commandId="dmdl-editor-plugin.jump-datamodel-command"
                  icon="icons/hishidama16.gif"
                  style="push"
                  tooltip="データモデルの選択ダイアログを開き、選択されたデータモデルへジャンプします。">
            </command>
            <separator
                  name="beginNewWizard"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="dmdl-editor-plugin.wizard.new-datamodel">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="dmdl-editor-plugin.wizard.attribute">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="dmdl-editor-plugin.wizard.new-importer-exporter">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="dmdl-editor-plugin.command.visibleWhen">
         <or>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <or>
                     <adapt
                           type="org.eclipse.core.resources.IFolder">
                     </adapt>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="dmdl">
                        </test>
                     </adapt>
                  </or>
               </iterate>
            </with>
            <with
                  variable="activeEditorId">
               <equals
                     value="dmdl_editor.editors.DMDLEditor">
               </equals>
            </with>
         </or>
      </definition>
   </extension>

   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            id="jp.hishidama.eclipse_plugin.dmdl_editor.dmdlClasspathProvider"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.compile.DmdlClasspathProvider">
      </classpathProvider>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="dmdl-editor-plugin.hyperlink.target"
            name="DMDL Editor hyperlink target">
         <context type="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.DMDLTextEditor"/>
      </target>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.editors.text.hyperlink.DMDLHyperlinkDetector"
            id="dmdl-editor-plugin.hyperlinkDetector.open-declaration"
            name="Open Declaration"
            targetId="dmdl-editor-plugin.hyperlink.target">
      </hyperlinkDetector>
      <hyperlinkDetector
            activate="true"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.jdt.hyperlink.OpenDeclaredDmdlHyperlinkDetector"
            description="Open DMDL"
            id="dmdl-editor-plugin.hyperlinkDetector.jdt.open-declaration"
            modifierKeys="M2+F3"
            name="Open DMDL"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="dmdl-editor-plugin.wizard-category"
            name="DMDL Editor">
      </category>
      <wizard
            category="dmdl-editor-plugin.wizard-category"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.wizard.NewDataModelWizard"
            icon="icons/new_model.gif"
            id="dmdl-editor-plugin.wizard.new-datamodel"
            name="New DataModel">
         <description>
            データモデルを新規に作成します。
         </description>
      </wizard>
      <wizard
            category="dmdl-editor-plugin.wizard-category"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.wizard.AttributeWizard"
            icon="icons/newannotation_wiz.gif"
            id="dmdl-editor-plugin.wizard.attribute"
            name="Add/Remove attribute of DataModel">
         <description>
            データモデルに属性（@directio.csv等）を追加/削除します。
         </description>
      </wizard>
      <wizard
            category="dmdl-editor-plugin.wizard-category"
            class="jp.hishidama.eclipse_plugin.dmdl_editor.internal.wizard.NewImporterExporterWizard"
            icon="icons/newclass_wiz.gif"
            id="dmdl-editor-plugin.wizard.new-importer-exporter"
            name="New Importer/Exporter class">
         <description>
            データモデルからImporter/Exporterクラスを生成します。
         </description>
      </wizard>
   </extension>

</plugin>
